apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-api-token-secret
  namespace: cert-manager
type: Opaque
stringData:
  # This value is injected dynamically by Ansible during deployment.
  # The actual credential should be stored in:
  # ansible/inventory/group_vars/all/secrets.enc.yaml (encrypted by SOPS)
  
  api-token: "{{ cloudflare_api_token }}"
